<p-sidebar [(visible)]="displaySideBar"
           position="right"
           styleClass="p-sidebar-lg"
           transitionOptions="200ms"
>
  <app-manage-customer (submitCustomer)="saveCustomer($event)"></app-manage-customer>
</p-sidebar>

<div class="flex align-items-stretch "
     style="height: 99vh;">

  <div class="border-right-1 col-2 border-gray-200">
    <app-menu-bar></app-menu-bar>
  </div>

  <div class="flex flex-column flex-grow-1">
    <app-header-bar></app-header-bar>

    <div class="main-container p-3">
      <button
        pButton
        icon="pi pi-plus"
        label="Create Customer"
        class=" p-button-success"
        (click)=" displaySideBar = true"
      ></button>
      <div class="flex justify-content-center align-items-center flex-wrap gap-5 mt-5">
        <app-customer-card *ngFor="let customer of customers; let i = index"
                           [customer]="customer" [cusIndex]="i">
        </app-customer-card>
      </div>
    </div>

  </div>


</div>
<p-toast></p-toast>
